<div class="d-flex justify-content-center">
<div class="col-lg-7 col-md-9 ">
    <h2 class="text-center">Kreiraj novu oznaku objekta prometa </h2>
    <form action="/oznaka_objekta_prometas" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
   
    <div class="form-group ">
    <label for="naziv_oznake">Naziv oznake:</label>
    <input type="text" name="oznaka[naziv_oznake]" id="naziv_oznake" class="form-control">
    </div>
    <div class="form-group ">
    <label for="oznaka">Oznaka:</label>
    <input type="text" name="oznaka[oznaka]" id="oznaka" class="form-control">
    </div>

    <div class="d-flex justify-content-between">
    <a href="/oznaka_objekta_prometas" class="btn btn-danger"> Natrag</a>
    <button type="submit" class="btn btn-primary">Kreiraj</button>
    </div>
    </form>
</div>
</div>