<div class="col-lg-6 col-md-8">
    <h2 class="text-center">Kreiraj novu klasu</h2>
    <form action="/konto_klasas" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <div class="form-group">
    <label for="naziv">Naziv</label>
    <input type="text" name="klasa[naziv]" id="naziv" class="form-control">
    </div>
    <div class="form-group">
    <label for="klasa">Klasa</label>
    <input type="number" name="klasa[klasa]" id="klasa" class="form-control">
    </div>
    <div class="form-group">
    <label for="bilans">Bilans</label>
    <input type="text" name="klasa[bilans]" id="bilans" class="form-control">
    </div>
    <div class="form-group">
    <label for="aktivnost">Aktivnost</label>
    <input type="text" name="klasa[aktivnost]" id="aktivnost" class="form-control">
    </div>
    <div class="d-flex justify-content-between">
    <a href="/konto_klasas" class="btn btn-danger"> Natrag</a>
    <button type="submit" class="btn btn-primary">Kreiraj</button>
    </div>
    </form>
</div>