                <div class="d-flex">
                <a href="<%=edit_url %>"><span class="fa fa-eye mr-2"></span></a>
                <% if obj.user==current_user%>
                <form action="<%= delete_url %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="bg-transparent" style="border:none">
                <span class="fa fa-trash"></span>
                </button>
                </form>
                <%end%>
                </div>